
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-key fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> User Login </li>

        <li class="adjustments-line">
	  <p class='text'>Login: </p>
	  <b>testing@gmail.com</b>
        </li>

	<li class="adjustments-line">
	  <p class='text'>password: </p>
	  <b>testinghere</b>
        </li>

        <li class="header-title">Admin</li>

	<li class="adjustments-line">
	  <p class='text'>Login: </p>
	  <b>admin</b>
	</li>

	<li class="adjustments-line">
	  <p class='text'>password: </p>
	  <b>admin</b>
	</li>

	<li target="_blank" rel="noopener noreferrer" 
	   href="" class="btn btn-primary btn-block">
	   Login as Admin
	</li>
	
      </ul>
    </div>
  </div>
