

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://www.creative-tim.com/product/material-dashboard-flask">
                   Flask Full-Stack E-Commerce
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="">Name Here</a> 
                      - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">Mateus-M-Reis</a>
          </div>
        </div>
    </footer>
