    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/img/sidebar-1.jpg">
      <div class="logo raw">
        <i class="material-icons">youtube_searched_for</i>
        <h2> Item searched here </h2>
      </div>
      <div class="sidebar-wrapper">
        
        <ul class="nav">

          <li>
            <a class='nav-link'>
              <h4>Refine your search</h4>
            </a>
          </li>
          <li>
            <a class='nav-link' type='button' data-toggle='collapse' href='#categories' aria-controls='categories' aria-expanded='true'>
              <i class="material-icons">store</i>
              <p>Official Stores</p>
              <div class='collapse' id='categories'>
                <ul>
                  {% for row in categoryData %}
                    <li><a href="/displayCategory?categoryId={{row[0]}}">{{row[1]}}</a></li>
                  {% endfor %}
                <ul>
              </div>
            </a>
          </li>
          <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-tables.html">
              <i class="material-icons">price_check</i>
              <p>Freight Cost</p>
            </a>
          </li>
          <li>
            <a class="nav-link">
              <i class="material-icons">local_shipping</i>
              <p>Shipping Type</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-icons.html">
              <i class="material-icons">credit_score</i>
              <p>Payment</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-maps.html">
              <i class="material-icons">production_quantity_limits</i>
              <p>Condition</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">location_city</i>
              <p>Location</p>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="/page-rtl-support.html">
              <i class="material-icons">price_change</i>
              <p>Price</p>
            </a>
          </li>

        </ul>
      </div>
    </div>

