    <div class="navbar navbar-expand-lg navbar-transparent">
      <div class="container-fluid">
        <div class='navbar-brand'>
          <h3>Shop by Category:</h3>
        </div>
        <ul class='navbar-nav'>
          {% for row in categoryData %}
            <li class='nav-item'>
              <a class='nav-link' href="/displayCategory?categoryId={{row[0]}}">{{row[1]}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class='card'>
      {% for data in itemData %}
        <table>
          <tr id="productName">
            {% for row in data %}
            <div class='col-lg-12'>
              <td>
                <div class='container'>
                  <div class='row'>
                    <div class='col-lg-12'>
                      <div class='card card-stats'>
                        <div class='card-header card-header-rose card-header-icon'>
                          <div class='card-icon'>
                            <i class='material-icons'>language</i>
                          </div>
                          <p class='card-category'>
                            {{row[1]}}
                          </p>
                          <h3 class='card-title'>49
                            <small>R$</small>
                          </h3>
                        </div>
                        <div class='card-body'>
                          <a href="/productDescription?productId={{row[0]}}">
                            <img src={{ url_for('static', filename='uploads/' + row[4]) }} id="itemImage" class='card-img'/>
                          </a>
                        </div>
                        <div class='card-footer'>
                          rs {{row[2]}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </div>
            {% endfor %}
          </tr>
        </table>
      {% endfor %}
    </div>

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
